@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Metropolis;
  font-weight: 600;
  src: url("/fonts/Metropolis-SemiBold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Metropolis, -apple-system, "Segoe UI", Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--size-text);
  color: var(--color-text);
}

:root {
  --color-background: hsl(235, 19%, 12%);
  --color-background-light: hsl(240, 15%, 17%);
  --color-text-secondary: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 64%);
  --color-primary: hsl(240, 67%, 64%);
  --color-danger: hsl(345, 86%, 56%);
  --size-text-xs: 1.2rem;
  --size-text-s: 1.4rem;
  --size-text: 1.6rem;
  --size-text-l: 1.8rem;
  --size-text-xl: 2rem;
  --size-text-2xl: 2.4rem;
  --size-text-3xl: 3rem;
  --space-2xs: 0.4rem;
  --space-xs: 0.8rem;
  --space-s: 1.2rem;
  --space: 1.6rem;
  --space-l: 2.4rem;
  --space-xl: 3.2rem;
  --space-2xl: 4.8rem;
  --space-3xl: 6.4rem;
  --space-4xl: 9.6rem;
  --radius: 1rem;
  --content-width: 64rem;

  --shadow-color: 235deg 30% 3%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

*:focus-visible {
  outline: 2px dashed var(--color-text-secondary);
  outline-offset: 0.5rem;
}
