.Button--reset {
  appearance: none;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.Button--primary {
  padding: var(--space) var(--space-l);
  border-radius: var(--radius);
  color: var(--color-text-secondary);
  background: var(--color-primary);
  box-shadow: var(--shadow-elevation-low);
  font-size: var(--size-text-s);
  text-transform: uppercase;
  font-weight: 600;
  transition: background .2s ease;
}

.Button--primary[disabled] {
  background: var(--color-primary-disabled);
  cursor: not-allowed;
}