.RootLayout {
  min-height: 100vh;
  background: var(--color-background);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: var(--space);
}

.RootLayout > header {
  padding: var(--space-l);
  font-weight: 600;
  background: var(--color-background-light);
  box-shadow: var(--shadow-elevation-medium);
  color: var(--color-text-secondary);
}

.RootLayout > header a {
  color: inherit;
  text-decoration: none;
}

.RootLayout__content {
  max-width: var(--content-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}
