.Todos {
  display: grid;
  gap: var(--space);
  margin: var(--space-3xl) 0;
}

.AddTodoForm {
  margin: var(--space) 0;
}

.Todos__info {
  font-size: var(--size-text-xs);
  padding-left: var(--space-s);
}
