.LoginForm {
  margin: var(--space-xl) 0;
  display: grid;
  gap: var(--space);
}

.LoginForm__error {
  padding: var(--space);
  margin: var(--space-xl) 0;
  border-radius: var(--radius);
  background: var(--color-danger-lighter);
  border: 2px solid var(--color-danger);
  color: var(--color-text-reversed);
}