.TodoListItem {
  padding: var(--space) var(--space-l);
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--space-s);
  background: var(--color-background-light);
  box-shadow: var(--shadow-elevation-low);
}

.TodoListItem a {
  text-decoration: none;
  color: inherit;
}

.TodoListItem__title {
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: var(--size-text-l);
  display: flex;
  align-items: center;
}

.TodoListItem__todos {
  color: var(--color-text);
  font-weight: normal;
  font-size: var(--size-text-s);
  margin-left: var(--space-xs);
}

.TodoListItem__info {
  grid-row: 2;
  padding-left: var(--space);
  color: var(--color-text);
  font-size: var(--size-text-s);
}

.TodolistItem__remove {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  place-content: center;
}
